<!-- <pre>{{constactForm.value | json}}</pre> -->
<div class="card mx-auto position-relative mt-40 form-card">
    <div class="logo position-absolute d-flex align-content-center justify-content-center w-100" style="top:-120px">
      <img src="assets/logoBQ.png" alt="logo" width="150px">
    </div>
    <div class="card-body">
      <form [formGroup]="formUser" (ngSubmit)="onSubmitForm()">
        <div class="mb-2">
          <input type="email" placeholder="Email" class="form-control" formControlName="email">
          <div class="alert alert-danger mt-3" role="alert" [hidden]="email.valid || email.pristine">
            <span *ngIf="email.errors?.['required']">
              Email is required
            </span>
            <span *ngIf="email.errors?.['email']">
              Please, insert an Email valid
            </span>
          </div>
        </div>
        <div class="mb-2">
          <input type="password" placeholder="Password" class="form-control" id="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="formUser.invalid">Login</button>
      </form>
  
    </div>
  </div>
<router-outlet></router-outlet>
