<div class="row"> 
<label class="height"> <p class="labelcolor">Sandwiches</p></label><br>
<div class="row2 justify-content-center">
<button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Sandwich <br> Price $10.00 </button>
</div>
</div>
<div class="row"> 
    <label> <p class="labelcolor mt-4">Drinks</p></label><br>
<div class="row2 justify-content-center">
    <button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Coffee <br> Price $5.00</button>
    <button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Latte <br> Price $7.00 </button>
    <button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Natural Juice <br> Price $7.00 </button>
</div>
 