/* .card-button {
    border-radius: 1rem;
    border: none;
    background-color:  #730202;
    color: #fff;
    font-size: large;
    font-weight: bolder;
    opacity: 1;
    display: flex;
    justify-content: center;
   }

.formname{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.labelName{
    display: flex;
    justify-content: center;
} */
