.card{
    margin:10px;
    justify-items: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background: white;
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card:hover {
    border-color: #730202;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }

   .card-button {
    border-radius: 1rem;
    border: none;
    background-color:  #730202;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    opacity: 1;
    transition: 0.3s ease-out;
   }

.containerkitchen{
    flex-wrap: wrap;
} 

.card-title{
    font-weight: bold;
}