.mainContainer{
    height: 90vh;
}

.card{
    margin:10px;
    justify-items: center;
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    background: white;
    position: relative;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card:hover {
    border-color: #730202;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }

.card-button {
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color:  #730202;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    opacity: 1;
    transition: 0.3s ease-out;
   }

.containerkitchen{
    flex-wrap: wrap;
    height: 80vh;
    overflow: auto;
} 
.card-header{
	background-color: rgb(175, 211, 175);
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	}

.card-title{
	font-weight: bolder;
}