<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <fa-icon [icon]="faBurger"></fa-icon>
      Burger Queen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="kitchen" routerLinkActive="active"> Kitchen </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="login" routerLinkActive="active"> Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        <li class="nav-item d-flex justify-content-end">
          <a class="nav-link active d-flex justify-content-end" routerLink="login" routerLinkActive="active"> Log Out </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 
    <a class="navbar-brand" href="#">
      <fa-icon [icon]="faBurger"></fa-icon>
      Burger Queen
   </a> 
  </div>
</nav>  -->

<!-- Main container -->
<div class="container p-2 containerbtn">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<div class="container mt-auto">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a routerLink="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <fa-icon [icon]="faBurger"></fa-icon>
      </a>
      <span class="mb-3 mb-md-0 text-muted">©️ 2023 Burger Queen, Inc. Developed by AMF</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-muted" href="#">
          <fa-icon [icon]="faBurger"></fa-icon>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#">
          <fa-icon [icon]="faBurger"></fa-icon>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-muted" href="#">
          <fa-icon [icon]="faCoffee"></fa-icon>
        </a>
      </li>
    </ul>
  </footer>
</div>
