<nav class="navbar bg-light border-bottom container-fluid">
  <div class="container">
    <a class="navbar-brand" href="#">
      <fa-icon [icon]="faBurger"></fa-icon>
      Burger Queen
    </a>
  </div>
</nav>
<div class="container p-2">
  <h2>Hello</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis atque veritatis, id repudiandae ea quia distinctio
    quod, porro deleniti sunt, asperiores fugit nesciunt eos ex omnis amet. Error, quod blanditiis.
  </p>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
