<div class="row"> 
<label class="labelcolor mt-2">Burgers</label><br>
<div class="row2 justify-content-center">
<button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Double Burger <br> Price $15.00 </button>
<button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Single Burger <br> Price $10.00 </button>
</div>
</div>
<div class="row"> 
    <label class="labelcolor mt-4">Side Dishes</label><br>
    <div class="row2 justify-content-center">
    <button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">French Fries <br> Price $5.00 </button>
    <button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Onion Rings <br> Price $5.00 </button>
    </div>
    </div>
<div class="row"> 
    <label class="labelcolor mt-4">Drinks</label><br>
<div class="row2 justify-content-center">
    <button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Water 500ml <br> Price $5.00 </button>
    <button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Water 750ml <br> Price $7.00 </button>
    <button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Soda 500ml <br> Price $7.00 </button>
    <button type="button" class="btn btnFood mr-3 ml-3 mt-3 p-4">Soda 750ml <br> Price $10.00 </button>
</div>
<!-- <router-outlet></router-outlet> -->
