    <!-- Column for ticket -->
    <div class="row justify-content-center align-items-start gx-5">
        <div class="col col-md-5 ticket">
            <div class="p-3 border bg-light txtlarge"> Order # <div> Counter </div> </div>
            <div class="row">
                <div class="col col-md-8 txtlarge"> Items </div>
                <div class="col col-md-4 txtlarge"> Price </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col col-md-9"> Cafe </div>
                <div class="col col-md-3"> $5.00 </div>
                <div class="col col-md-9"> Cafe </div>
                <div class="col col-md-3"> $5.00 </div>
                <div class="col col-md-9"> Cafe </div>
                <div class="col col-md-3"> $5.00 </div>
                <div class="col col-md-9"> Cafe </div>
                <div class="col col-md-3"> $5.00 </div>
                <div class="col col-md-9"> Cafe </div>
                <div class="col col-md-3"> $5.00 </div>
            </div>

            <div class="row mt-3 mb-5">
                <div class="col col-md-8 txtlarge"> TOTAL </div>
                <div class="col col-md-4 txtlarge"> $FINAL PRICE </div>
            </div>

            <div class="row info">
                    <!-- We are creating a service with the input data of add-name -->
    <app-add-name></app-add-name>
    <app-list-name></app-list-name>
            </div>
        </div>


        <!-- Column for food -->
        <div class="col col-md-7">
            <!-- Columns for the 2 options of food -->
            <!-- counter for orders -->
            <app-counter> </app-counter>

<div class="row"> 
<label class="labelcolor mt-2">Burgers</label><br>
<div class="row2 justify-content-center">
<button type="button" class="btn btn-secondary mr-3 ml-3 mt-3 p-4">Double Burger <br> Price $15.00 </button>
<button type="button" class="btn btn-secondary mr-3 ml-3 mt-3 p-4">Single Burger <br> Price $10.00 </button>
</div>
</div>
<div class="row"> 
    <label class="labelcolor mt-4">Side Dishes</label><br>
    <div class="row2 justify-content-center">
    <button type="button" class="btn btn-secondary mr-3 ml-3 mt-3 p-4">French Fries <br> Price $5.00 </button>
    <button type="button" class="btn btn-secondary mr-3 ml-3 mt-3 p-4">Onion Rings <br> Price $5.00 </button>
    </div>
    </div>
<div class="row"> 
    <label class="labelcolor mt-4">Drinks</label><br>
<div class="row2 justify-content-center">
    <button type="button" class="btn btn-secondary mr-3 ml-3 mt-3 p-4">Water 500ml <br> Price $5.00 </button>
    <button type="button" class="btn btn-secondary mr-3 ml-3 mt-3 p-4">Water 750ml <br> Price $7.00 </button>
    <button type="button" class="btn btn-secondary mr-3 ml-3 mt-3 p-4">Soda 500ml <br> Price $7.00 </button>
    <button type="button" class="btn btn-secondary mr-3 ml-3 mt-3 p-4">Soda 750ml <br> Price $10.00 </button>
</div>
