<!-- <app-nav></app-nav> -->
<!-- Modal -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">{{currentProduct?.name}}</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form #loginForm="ngForm" (ngSubmit)="updateData(loginForm.value)">
				<div class="modal-body">
					<div class="mb-3">
						<label for="productName" class="form-label">Product Name</label>
						<input type="text" class="form-control" [ngModel]="currentProduct?.name" aria-describedby="productName"
							id="productName" name="name">
					</div>
					<div class="mb-3">
						<label for="productPrice" class="form-label">Price</label>
						<input type="number" class="form-control" id="productPrice" [ngModel]="currentProduct?.price" name="price">
					</div>
					<div class="mb-3">
						<label for="productType" class="form-label">Type</label>
						<input type="text" class="form-control" id="productType" [ngModel]="currentProduct?.type" name="type">
					</div>
					<div class="mb-3">
						<label for="productImage" class="form-label">Image</label>
						<input type="text" class="form-control" id="productImage" [ngModel]="currentProduct?.image" name="image">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="closeModalBtn" class="btn btn-secondary" data-bs-dismiss="modal"
						(click)="onCloseModal()">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container mt-4">
	<div class="row gap-2 row-cols-3">
		<div class="card col" style="width: 14rem;" *ngFor="let product of filteredProducts">
			<img src={{product.image}} width="100" class="mx-auto p-2" alt={{product.name}}>
			<div class="card-body">
				<h5 class="card-title">{{product.name}}</h5>
				<p class="card-text">{{formatPrice(product.price)}}</p>
				<div class="d-flex gap-1">
					<button (click)="onShowModal(product)" type="button" class="btn btn-primary" data-bs-toggle="modal"
						data-bs-target="#editProductModal">Edit</button>
					<button (click)="[deleteProducts(product.id), getProducts()]" type="button"
						class="btn btn-primary">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- <div class="row gap-2 row-cols-3">
	<div class="card col" style="width: 14rem;" *ngFor="let product of filteredProducts">
		<img src={{product.image}} width="100" class="mx-auto p-2" alt={{product.name}}>
		<div class="card-body">
			<h5 class="card-title">{{product.name}}</h5>
			<p class="card-text">{{formatPrice(product.price)}}</p>
			<div class="d-flex gap-1">
				<button (click)="showModal(product)" type="button" class="btn btn-primary">Edit</button>
				<button (click)="[deleteProducts(product.id), getProducts()]" type="button"
					class="btn btn-primary">Delete</button>
			</div>
		</div>
	</div>
	<ng-container *ngIf="modalSwitch && currentProduct">
		<div class="modalContainer">
			<form class="modalContent" #loginForm="ngForm" (ngSubmit)="updateData(loginForm.value)">
				<label for="" class="label"> Product name :
					<input type="text" [ngModel]="currentProduct.name" name="name">
				</label>
				<label for="" class="label"> Price :
					<input type="text"  [ngModel]="currentProduct.price" name="price">
				</label>
				<label for="" class="label"> Type :
					<input type="text" [ngModel]="currentProduct.type" name="type">
				</label>
				<div>
					<button type="submit">Save</button>
					<button (click)="closeModal()">X</button>
				</div>
			</form>
		</div>
	</ng-container>
</div> -->