<div class="p-3 border bg-light txtlarge"> 
	<p>{{date | date : "short"}}</p>
</div>
<div class="row">
	<div class="col col-md-8 txtlarge"> Items </div>
	<div class="col col-md-4 txtlarge"> Price </div>
</div>
<div class="row mt-3 mb-3">
	<div>
		<div *ngFor="let product of addProductService.products" class="itemFood d-flex">
			<div class="col col-md-12">
				<button type="button" class="close" aria-label="Remove Item" (click)="removeProductsTicket(product.id)">
					<span aria-hidden="true">&times;</span>
				</button>
				{{product.name}}
			</div>
			<div>
				$ {{product.price}}
			</div>
		</div>
	</div>
</div>

<div class="row mt-3 mb-5">
	<div class="col col-md-8 txtlarge"> TOTAL </div>
	<div class="col col-md-4 txtlarge"> {{totalPrice()}}</div>
	<div>
		<button (click)="sendProducts()">Send</button>
	</div>
</div>
