/* You can add global styles to this file, and also import other style files */
body{
    background-color: #EFB45D;
    font-family: 'Cedora', sans-serif;
    position: relative;
    min-height: 100%;
}