<!-- Column for ticket -->
<div class="row justify-content-start align-items-start gx-5">
	<div class="col col-md-5 ticket">
		<app-receipt [dataEntrante]="data" *ngFor="let data of receipt" > </app-receipt>
	</div>

	<!-- Column for food -->
	<div class="col col-md-7">
		<!-- Columns for the 2 options of food -->
		<div class="row mt-3 mb-3 ">
			<div class="col col-md-6"><a [routerLink]="['breakfast']" class="btn btnFood" href="#" role="button">BREAKFAST</a>
			</div>
			<div class="col col-md-6"><a [routerLink]="['dinner']" class="btn btnFood" href="#" role="button">LUNCH/DINNER</a>
			</div>
		</div>
		<router-outlet></router-outlet>